<!DOCTYPE html>
<html>
<head>
  <title>Devrobber</title>
  <%= stylesheet_link_tag    "devrobber/application", media: "all" %>
  <%= javascript_include_tag "devrobber/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
